<div class="overlay"
  (click)="closeModal()" 
  *ngIf="showCart$ | async">
  <app-modal></app-modal>
</div>
<header>
  <div class="container-nav">
    <div class="flex">
      <div class="header-left left-flex">
        <app-logo></app-logo>
        <app-nav></app-nav>
      </div>
      <div class="header-right">
        <app-cart></app-cart>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="grid">
      <app-gallery></app-gallery>
      <article class="main-right">
        <app-text></app-text>
        <app-price></app-price>
        <app-actions></app-actions>
      </article>
    </div>
  </div>
</main>