ul {
    display: none;
}

@media (min-width: 900px) {
    ul {
        display: flex;
        list-style: none;
        display: flex;
        gap: 1.2rem;
        translate: 0 .1rem;
        padding-inline: var(--padding-inline);
    }
}